<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Pantry</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Plugin CSS -->
  <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="css/freelancer.min.css" rel="stylesheet">

  <!-- Link to my style sheet -->
  <link href="mycss/main.css" rel="stylesheet">



</head>

<body id="page-top">

    <% include ./common/nav.ejs%>

  <!-- Add Food -->
  <section class="addFood padding-top" id="addFood">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">My Food</h2>
      <hr class="star-dark mb-5">

      <!-- *************** ADD CONTENT HERE ***************-->
      <div>
        <h4 class="text-center"><%- message%></h4>
      </div>
      <div class="container food-content">
        <% foods.forEach(function(food) { %>
        <div class="row">
          <div class="col-8 col-sm-12 flex-row">
            <% if(food.expired) {%>
            <div class="food-name-expiration expiring">
              <% } else {%>
            <div class="food-name-expiration">
                <% }%>
              <h4 class="no-link hide-small">
                <%= food.food_name %>
              </h4>
              <h5 class="link show-small"><a href="/edit/<%= food.food_id%>">
                <%= food.food_name %>
              </h5></a>
              <p>
                <%= food.expiration %>
              </p>
            </div>
            <div class="quantity">
              <div>
                <h5 id="<%= food.food_id%>-quantity">
                  <%= food.quantity_num %>
                </h5>
                <p>
                  <%= food.quantity_type_name %>
                </p>
              </div>
              <div>
                <button onclick="setFood('<%= food.food_id%>', '<%= food.quantity_num %>')" class="btn btn-primary add-food">+</button>
                <button onclick="setFood('<%= food.food_id%>', '<%= food.quantity_num %>')" class="btn btn-danger subtract-food">-</button>
              </div>
            </div>
          </div>
          <!-- this is to force the columns to wrap on a small screen -->
          <div class="width-100"></div>
          <div class="col-4 food-buttons hide-small">
            <div>
              <a href="/edit/<%= food.food_id%>"><button type="button" class="btn btn-secondary">Edit</button></a>
              <a href="#"><button type="button" onclick="setInfo('<%= food.food_id %>')" class="btn btn-danger delete-button">Delete</button></a>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </section>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
            <h2 class="modal-title">Delete</h2>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <!-- <h4><span class="glyphicon glyphicon-lock"></span> Login</h4> -->
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <h4>Are you sure you want to delete this item?</h4>
        </div>
        <div class="modal-footer">
          <!-- <a href="/food"><button id="yes-delete" class="btn btn-success">Yes</button></a> -->
          <button id="yes-delete" class="btn btn-success" data-dismiss="modal">Yes</button>
          <button class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>
            Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <% include ./common/footer.ejs%>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/freelancer.min.js"></script>

  <script>
    var foodId;
    var foodAddSub;
    var currentQuantity;
    var timer;

    function setInfo(id) {
      foodId = id;
      console.log("set foodId: " + foodId)
    }

    function setFood(id, quantity) {
      foodAddSub = id;
      newId = id + "-quantity";
      currentQuantity = +document.getElementById(newId).innerHTML;

    }
    $(document).ready(function () {
      $(".delete-button").click(function () {
        $("#myModal").modal();
      });
      $("#yes-delete").click(function () {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            $("#myModal").modal("hide");
          }
        };
        xhttp.open("DELETE", "/delete/" + foodId, true);
        xhttp.send();
        // reload the page so the deleted item goes away
        window.location.reload();
      })
      $(".add-food").click(function () {
        id = foodAddSub + "-quantity";
        currentQuantity = +currentQuantity + 1;
        document.getElementById(id).innerHTML = currentQuantity;
        if (typeof timer != 'undefined') {
          clearTimeout(timer);
        }
        timer = setTimeout(updateDatabase, 500);
      });
      $(".subtract-food").click(function () {
        if (currentQuantity == 1) {
          $("#myModal").modal();
        } else {
          id = foodAddSub + "-quantity";
          currentQuantity = +currentQuantity - 1;
          document.getElementById(id).innerHTML = currentQuantity;
          if (typeof timer != 'undefined') {
            clearTimeout(timer);
          }
          timer = setTimeout(updateDatabase, 500);
        }
      });
    });

    function updateDatabase() {
      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", "/food/" + foodAddSub + "/" + currentQuantity, true);
      xhttp.send();
    }
  </script>

</body>

</html>